<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results for "{{.Query}}"</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Search Results for "{{.Query}}"</h1>

    {{if eq .SearchType "location"}}
    <h2>Locations:</h2>
    {{range .Locations}}
    <p>{{.}}</p>
    {{end}}
    {{else if eq .SearchType "creation date"}}
    <h2>Creation Dates:</h2>
    {{range .Dates}}
    <p>{{.}}</p>
    {{end}}
    {{else if eq .SearchType "first album"}}
    <h2>First Albums:</h2>
    {{range .Albums}}
    <p>{{.}}</p>
    {{end}}
    {{else if eq .SearchType "member"}}
    <h2>Members:</h2>
    {{range .Members}}
    <p>{{.}}</p>
    {{end}}
    {{end}}

    <h2>Related Bands:</h2>
    {{range .Bands}}
    <div class="band-info">
        <h3>{{.Name}}</h3>
        <img src="{{.Image}}" alt="{{.Name}}">
        <p>Creation Date: {{.CreationDate}}</p>
        <p>First Album: {{.FirstAlbum}}</p>
        <p>Members: {{join .Members ", "}}</p>
    </div>
    {{end}}

    {{if and (eq (len .Bands) 0) (eq (len .Locations) 0) (eq (len .Albums) 0) (eq (len .Members) 0) (eq (len .Dates)
    0)}}
    <p>No results found for "{{.Query}}".</p>
    {{end}}

    <a href="/">Back to Home</a>
</body>

</html>